/* Add CSS Styling */

.odd-number {
    background-color: rgb(197, 0, 99);
    font-family: Verdana, "DejaVu Sans", "sans-serif";
}

#id-sel {
    color: hsl(236, 92%, 50%);
    font-size: 36px;
}

.third-font {
    font-size: 24px;
}

#id-five {
    background-color: rgb(6, 255, 64);
    font-size: 24px;
    font-weight: bold;
}